@model IEnumerable<ITSupport.Models.Topic>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Khóa Học</h1>
<div class="row row-eq-height">
    @foreach (var item in Model)
    {
        <div class="d-block col-12 col-sm-6 col-md-4 d-flex flex-column justify-content-between">
            <a href="/Course/@item.NameTopic" class="h-100">
                <img class="w-100 h-100" style="object-fit: cover;" src="~/Asset/Image/Topic/@item.Images" asp-append-version="true" />
            </a>
            <div>
                <h3><a class="text-dark" href="/Course/@item.NameTopic"> @item.NameTopic</a> </h3>
                <p style="text-decoration:none; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">@Html.Raw(item.Describe)</p>
            </div>
        </div>
    }
</div>
