@model IEnumerable<ITSupport.Models.Topic>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        var thisString = input.Substring(0, length);
        @Html.Raw(thisString)
    }
}



<h2 style="text-align: center" class="bigTitle animationTop delay-15">KHÓA HỌC</h2>
@foreach (var item in Model)
{
    <div class="listFigure">
        <div class="item animationTop delay-16">
            <div class="img">
                <img src="~/Asset/Image/Topic/@item.Images" alt="">
            </div>
            <div class="content">
                <h3>@Truncate(item.NameTopic, 50)</h3>
                @Html.Raw(Truncate(item.Describe, 20).ToString())
            </div>
        </div>

    </div>

}
@*
        <table class="table">
            <tr>
                <th style="text-align:center;width:140px">
                    Tên Khóa Học
                </th>
                <th style="text-align:center;width:200px">
                    Mô tả
                </th>
                <th style="text-align:center;width:100px">
                    Hình minh hoạ
                </th>
                <th style="text-align:center;width:80px">
                    Giá bán
                </th>
                <th style="text-align:center;width:80px">
                    Xem Thêm
                </th>
                <th style="text-align:center">
                </th>
            </tr>


    </table>
*@
